<!DOCTYPE html>
<header xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BrainWave | Features</title>
</head>
</header>
<nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/about}">About</a>
        <a th:href="@{/features}">Features</a>
        <a th:href="@{/assignments/new}">Add Assignment</a>
        <a th:href="@{/assignments}">View Assignments</a>
    </nav>
</header>
<body>

<h1>BrainWave Features</h1>

<ul>
    <li>Track assignments clearly</li>
    <li>Manage coursework easily</li>
    <li>Simple and intuitive navigation</li>
</ul>

</body>
</html>